body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 60px;
}
.container{
    display: grid;
    border: 2px solid;
    padding: 0;
    width: 49em;
    height: 32em;
    gap: 1px;
    grid-template-columns: 1fr 4fr ;
    /* grid-template-rows: ;  */
    background-color: dodgerblue;  
    grid-template-areas:
    "header header"
    "menu content"
    "footer footer"; 
}
.container div{
    /* border: 1px solid;   */
    background-color: white;
    padding: 16.5px;
}
.container div.header{
    text-align: center;
}
.container div.footer{
    text-align: center;
}
.table{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px;
}
.table div{
    border: 1px solid;
    background-color: rgba(0, 207, 0, 0.253);  
}
.col{
    font-size: 1.5em; 
}